    body {
      font-family: Arial, sans-serif;
      background: #1d1d1d;
      padding: 20px;
     display: flex;
     justify-content: center;
     
     
    }
    .form-container {
      width: 600px;
      background: #aba8a8;
      padding: 30px;
      border-radius: 8px;
      border: #00ffff solid ;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h1 {
      text-align: center;
      color: #000000;
     font-style: oblique;
     
    }
    label {
      display: block;
      margin: 10px 0 5px;
      font-weight: bold;
    }
    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #f5f4f4;
      border-radius: 4px;
      background-color:rgb(176, 174, 174) ;
    }
    .radio-group, .checkbox-group {
      display: flex;   
      gap: 20px;
      margin-bottom: 15px;
    }
    .radio-group label, .checkbox-group label {
      display: flex;
      gap: 5px;
    }
    button {
      background: #108e8e;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      width:100%;
      font-size: 16px;
      display: block;
      margin: auto; /* button center */
      font-weight: bold;
    }
    button:hover {
      background: #13a5a5;
    }